html {
    margin: 0;
    padding: 0;

    background-color: azure;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 10% 0 10%;
}

nav {
    background-color: rgb(40, 46, 51);
}

ul {
    margin: 0;
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10%;

    background-color: rgb(40, 46, 51);

    list-style-type: none;
}

nav ul > li > a {
    height: 100%;
    padding: 10px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: white;
}

nav > ul > li> a:hover {
    background-color: rgb(74, 81, 87);
}

.profile-container {
    padding: 50px;
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > p {
    font-size: 30px;
}

img {
    border: solid rgb(86, 100, 112) 4px;
    border-radius: 50%;
}

.cv-container {
    display: flex;
    flex-direction: row;
}

.personal-info-container {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 30px;
    margin: 20px;

    border:none;
    border-radius: 10px;
    background-color: rgb(185, 229, 229);
}

.skills-container {
    display: flex;
    flex-direction: column;

    color:white;

    background-color: rgb(86, 100, 112);
}

.skills-container > p {
    color:rgb(198, 226, 227);
}

.profile-container {
    background-color: transparent;
}

.contacts-container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects-container > h3 > a{
    text-decoration: none;
    color: black;
}

.tech-stack {
    color:rgb(88, 88, 88);
}

footer { 
    padding-left: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(40, 46, 51);
}

.contacts-container > h2 {
    color: white;
}

.contacts-container > a,
.contacts-container > p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:white;
    text-decoration: none;
}

.author-info {
    padding: 5%;
    
    color: rgb(198, 226, 227);

    background-color: rgb(74, 81, 87);
}

@media (max-width: 900px) {
    .profile-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 670px) {
    ul {     
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap:10%;
    
        background-color: rgb(40, 46, 51);
    
        list-style-type: none;
    }

    nav ul > li > a {
        padding: 0;
        height: auto;
        width: 100%;
    
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        color: white;
    }
}