html {
    margin: 0;
    padding: 0;

    background-color: azure;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 10% 0 10%;
}

nav {
    padding-left: 5%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10%;

    background-color: rgb(40, 46, 51);
}

nav > a {
    height: 100%;
    padding: 10px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: white;
}

nav > a:hover {
    background-color: rgb(74, 81, 87);
}

.profile-container {
    padding: 50px;
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > p {
    font-size: 30px;
}

img {
    border: solid rgb(86, 100, 112) 4px;
    border-radius: 50%;
}

.cv-container {
    display: flex;
    flex-direction: row;
}

.personal-info-container {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 30px;
    margin: 20px;

    border:none;
    border-radius: 10px;
    background-color: rgb(185, 229, 229);
}

.skills-container {
    display: flex;
    flex-direction: column;

    color:white;

    background-color: rgb(86, 100, 112);
}

.skills-container > p {
    color:rgb(198, 226, 227);
}

.profile-container {
    background-color: transparent;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(40, 46, 51);
}

footer > a {
    padding: 20px;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:white;
    text-decoration: none;
}